rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isAdmin() { return signedIn() && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin'; }
    match /wallpapers/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 25 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }
  }
}